nav
{
    background-color: #272D33;
    margin-top: 0px;
    margin-left: 0px;
    min-height: 100px;
    color: #fff;
}

.mensaje_arriba
{
    font-size: 19.8pt;
}

.barras_mensaje
{
    margin-top: 5px;
}

.info_pedidos
{
    
}