nav
{
    background-color: #272D33;
    min-height: 100px;
}

.nav-pills
{
    margin-left: 0px;
}

.iconos_nav
{
    max-width: 30px;
}

.items
{
    color: #fff;
    font-size: 14pt;
    margin-bottom: 10px;
}

.mensaje
{
    margin-top: 20px;
}

.mensaje_arriba
{
    font-size: 26pt;
}

.barras_mensaje
{
    margin-top: 12px;
}