<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/mi_css/vVentas.css">
    <title>Ventas - Repartidor</title>
</head>
<body>
    <div class="row">
        <!--Barra-->
        <nav class="col-2">
            <div class="container d-flex flex-column">

              <!--Repartidores-->
              <div class="text-center titulo">Vendedores</div>
              <div class="text-center">
                <img src="../../svg/facebook.svg" alt="" class="border border-2 rounded-circle foto_perfil">
              </div>

              <hr class="text-white">

              <!--Botones paginas-->
              <ul class="nav nav-pills row text-center justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active    items" aria-current="page" href="../../views/views_vendedor/vVentas.html">Ventas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link    items" href="../../views/views_vendedor/vInventario.html">Inventario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link    items" href="../../views/views_vendedor/vHistorial.html">Historial de Ventas</a>
                </li>
              </ul>

              <hr class="text-white">

              <!--Configuracion-->
              <div class="text-center">
                <div class="dropdown dropdown-center">
                  <a class="nav-item dropdown-toggle link_drop" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Configuracion</a>
                
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li style="margin-bottom: 10px;"><a class="dropdown-item" href="../../views/views_vendedor/vAjustes.html">Ajustes</a></li>
                    <li><hr class="sep_hr"></li>
                    <li style="margin-top: 10px;"><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </nav>

        <!--Info Pedidos-->
        <main class="col-10 border">
            <div class="container">
              <div class="row">

                <!--Agregar productos-->
                <div class="col-8 border  agregar_productos">
                  <form action="">
                    <div>
                      <div class="row">
                        <div class="col-8"><input class="form-control" type="text" id="productos" placeholder="Ingresa el nombre del producto..."></div>
                        <div class="col-2">
                          <div class="row">
                            <button class="btn boton_buscar" type="button">Buscar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  
                  <hr>

                  <!--Productos-->
                  <div class="mt-2">
                    <div class="contenedor_productos">
                      <!--Producto-->
                      <div class="row border  producto_carito">
                        <!--Imagen-->
                        <div class="col-1 p-0">
                            <img src="../../svg/facebook.svg" alt="" class="imagen_productos">
                        </div>
  
                        <!--Info Producto Carrito-->
                        <div class="col ms-1 mt-2">
                            <div class="row justify-content-lg-start">
                                <div class="col-9 pNombre"><b>#Producto</b></div>
                                <div class="col-3 text-end nPrecio"><b>Precio: </b>$150.00</div>
                            </div>
  
                            <div class="row justify-content-start mt-1">
                              <div class="col-2"><b>#Herramientas</b></div>
                              <div class="col-3"><b>Cantidad en Stock: </b>#10</div>
                            <div class="col text-end">
                              <button class="btn btn-sm" type="button">
                                Agregar al Carrito
                              </button>
                            </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-4 border"></div>
              </div>
            </div>
        </main>
    </div>
</body>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/bootstrap.bundle.js"></script>
</html>