<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/mi_css/repartidor_conf.css">
    <title>Pedidos - Repartidores</title>
</head>
<body>
    <div class="row">
        <!--Barra-->
        <nav class="col-2">
            <div class="container navbar d-flex flex-column">
                <div class="navbar-brand    items">Repartidores</div>
                <hr>
                <ul class="nav nav-pills row text-center justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link    items" aria-current="page" href="../../views/views_repartidor/repartidores_inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link    items" href="../../views/views_repartidor/repartidores_pedidos.html">Pedidos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link    items" href="../../views/views_repartidor/repartidores_historial.html">Historial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active  items" href="../../views/views_repartidor/repartidores_conf.html">Configuracion</a>
                    </li>
                  </ul>
            </div>
        </nav>

        <!--Info Pedidos-->
        <main class="col-10 border">
            <div class="container">
            </div>
        </main>
    </div>
</body>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/bootstrap.bundle.js"></script>
</html>